<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.thetabx.gksa"
    android:versionCode="2"
    android:versionName="0.1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="net.thetabx.gksa.GKSa"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CredsActivity"
            android:label="@string/title_activity_creds">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MailboxActivity"
            android:label="@string/title_activity_mailbox">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="gks.gs" android:path="/mailbox/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConversationActivity"
            android:label="@string/title_activity_conversation_empty">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="gks.gs" android:pathPattern="/mailbox/.*conversation.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ForumsActivity"
            android:label="@string/title_activity_forums">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ForumActivity"
            android:label="@string/title_activity_forum_empty">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="gks.gs" android:pathPattern="/forums\\.php.*viewforum.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TopicActivity"
            android:label="@string/title_activity_topic_empty">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="gks.gs" android:pathPattern="/forums\\.php.*viewtopic.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TwitsActivity"
            android:label="@string/title_activity_twits">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="gks.gs" android:path="/m/account/twits" />
            </intent-filter>
        </activity>
    </application>

</manifest>
